<div class="inf-block" id="contact">
  <span class="block-title"><h2>Мои контакты</h2></span>
  <a href="https://github.com/kalkolay" target="_blank">GitHub</a>
  <a href="https://vk.com/kalkolay" target="_blank">VK</a>
  <a href="https://www.facebook.com/kalkolay" target="_blank">Facebook</a>
  <a href="https://www.linkedin.com/in/nikolay-fedotenko-8472b215b/" target="_blank">LinkedIn</a>
  <a href="https://join.skype.com/invite/n6dnsiBkd5mD" target="_blank">Skype</a>
</div>

<div id="time">{{ time }}</div>
