<!-- Базовые метаинформации -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Федотенко Николай M33122</title>
<meta name="description" content="Сайт-резюме Федотенко Николая Владимировича">
<meta name="keywords" content="резюме,портфолио,ИТМО">
{{> style_bundles }}
{{> shared_scripts }}
