<div class="title">
  <h1>Николай Федотенко</h1>
</div>
{{> login }}
<div class="nav-bar">
  <nav>
    <a href="/"><span class="link">Разработчик C++</span></a>
    <a href="/RenderEngineer"><span class="link">Рендер инженер</span></a>
    <a href="/MyForm"><span class="link">TODO List</span></a>
  </nav>
</div>
