<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
  <link rel="stylesheet" href="css/Form.css">
  <script src="JS/FormLoader.js"></script>
</head>
<body>
<div class="card">
    <!-- Header -->
    <header>
      {{> header }}
    </header>

  <main>

    <div class="form-block" id="form">
        <span class="form-title"><h2>Список заданий на неделю</h2></span>

        <form id="settings">
            <h2>Настройки</h2>

            <div class="settings-wrapper">
            <div class="form-item">
                <label>Максимальное число заданий
                    <select name="tasks-number">
                        {{#times 5}}
                            <option value={{ this }}>{{ this }}</option>
                        {{/times}}
                    </select>
                </label>
            </div>
            </div>

            <div class="form-item">
                <label>Количество дней
                    <select name="days-number">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </label>
            </div>

            <input type="submit" value="Создать">
        </form>
        <div class="task-list"></div>

        <template id="day-template">
            <div class="day">
                <div class="day-name"></div>
                <form>
                    <label>
                        <input placeholder="Введите задание" type="text" name="text">
                    </label>
                </form>
                <div class="day-tasks"></div>
            </div>
        </template>
        <template id="task-template">
            <div class="task-data">
                <div class="task-data__index"></div>
                <div class="task-data__content"></div>
            </div>
        </template>
    </div>

  </main>

  <!-- Footer -->
  <footer>
    {{> footer }}
  </footer>
</div>
</body>
</html>